@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
} 

a {
  color: inherit;
  text-decoration: none;
}

.big {
  font-size: 1rem;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white ;
    display: flex;
    
  }

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}


